{% extends 'base.html.twig' %}

{% block title %}Cautionnement{% endblock %}

{% block body %}
    <h1>Cautionnement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cautionnement.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ cautionnement.montant }}</td>
            </tr>
            <tr>
                <th>Date_paiement</th>
                <td>{{ cautionnement.datePaiement ? cautionnement.datePaiement|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Mois</th>
                <td>{{ cautionnement.Mois }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cautionnement_index') }}">back to list</a>

    <a href="{{ path('app_cautionnement_edit', {'id': cautionnement.id}) }}">edit</a>

    {{ include('cautionnement/_delete_form.html.twig') }}
{% endblock %}
